# Municípios do Brasil

O IBGE disponibiliza diversos dados abertos, muitos deles através de APIs. Tirando proveito disso é possível pegar todos os municípios do Brasil e seus respectivos estados para criar um dicionário.

In [1]:
import pandas as pd

In [2]:
url = 'https://servicodados.ibge.gov.br/api/v1/localidades/municipios?orderBy=nome'

In [3]:
municipios = pd.read_json(url)

In [4]:
municipios['uf'] = pd.json_normalize(municipios.microrregiao)['mesorregiao.UF.nome']

In [5]:
municipios.drop(columns=['microrregiao', 'regiao-imediata'], inplace=True)
municipios.head()

        id                 nome            uf
0  5200050      Abadia de Goiás         Goiás
1  3100104  Abadia dos Dourados  Minas Gerais
2  5200100            Abadiânia         Goiás
3  3100203               Abaeté  Minas Gerais
4  1500107           Abaetetuba          Pará

In [6]:
import unicodedata
def strip_accents(s):
   return ''.join(c for c in unicodedata.normalize('NFD', s)
                  if unicodedata.category(c) != 'Mn')

In [7]:
municipios['nome_simples'] = [strip_accents(i) for i in municipios.nome.str.upper()]
municipios['uf_simples'] = [strip_accents(i) for i in municipios.uf.str.upper()]

In [8]:
municipios.head()

,id,nome,uf,nome_simples,uf_simples
0,5200050,Abadia de Goiás,Goiás,ABADIA DE GOIAS,GOIAS
1,3100104,Abadia dos Dourados,Minas Gerais,ABADIA DOS DOURADOS,MINAS GERAIS
2,5200100,Abadiânia,Goiás,ABADIANIA,GOIAS
3,3100203,Abaeté,Minas Gerais,ABAETE,MINAS GERAIS
4,1500107,Abaetetuba,Pará,ABAETETUBA,PARA

In [9]:
municipios.to_csv('dados/municipios.csv', index=False)